body {
    margin: 0px;
    background-color: darkseagreen;
}

.title {
    margin: none;
    text-align: center;
}

.title H1 {
    font-size: 64px;
    text-decoration: underline;
}

.title p {
    margin: none;
    padding: none;
    font-size: 16px;
    color: #222222;
}

.news {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

/* NAVIGATION BAR */
.taskbar li{
    color: aliceblue;
    margin-right: 100px;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.taskbar ul{
    list-style-type: none;
    background-color: hsl(348, 83%, 47%);
    padding: none;
    margin: none;
    overflow: hidden;
}

.taskbar li {
    float: left;
}

.taskbar li:hover {
    background-color: hsl(348, 100%, 55%);
}

/* NAVIGATION BAR END */

.news1, .news2, .news3, .news4 {
    background-color: #f1f1f1;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    
    
}

.news_title {
    text-align: center;
}

.news_body {
    margin: 3px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}